.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: 10px;
}
.input-container.top {
  flex-direction: column;
}
.input-container.bottom {
  flex-direction: column-reverse;
}
.input-container.right {
  flex-direction: row-reverse;
  align-items: center;
}
.input-container.left {
  flex-direction: row;
  align-items: center;
}
.input-container .input-field {
  display: flex;
  position: relative;
  align-items: center;
}
.input-container .input-field input {
  position: relative;
  width: 100%;
  padding: 7px 10px;
  border-radius: 10px;
}
.input-container .icon {
  position: absolute;
  right: 10px;
}
