@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --light-black: rgba(0, 0, 0, 0.1);
  --very-light-black: rgba(0, 0, 0, 0.05);
  --green: rgb(0, 155, 135);
  --green-hover: rgb(0, 184, 159);
  --light-green: rgba(0, 155, 135, 0.1);
  --red: #d85140;
  --red-hover: rgb(229 139 128);
  --blue: #3d6b99;
  --yellow-button: #facc15;
  --yellow-button-active: #eab308;

  /* background colors */
  --footer-bg: #1e2641;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  padding: 8px;
  font-size: small;
  background-color: var(--yellow-button);
  border-color: rgb(253 224 71);
  border-radius: 5px;
}
.button:focus {
  outline: none;
}
.button:active {
  background-color: var(--yellow-button-active);
}

.input {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 5px;
}
.input:active {
  border: 1px solid var(--yellow-button-active);
}

@layer components {
  .addButton {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
  }
}
