.userList-section {
  background-color: #bfc8e6;
  padding: 150px 0;
}
.usersList-container {
  background: linear-gradient(rgb(247, 247, 247), #fff);
  width: 90%;
  margin: 0px auto;
  padding: 70px;
  border-radius: 15px;
}
.usersList-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up a {
  display: flex;
  align-items: center;
}
.user-plus-icon {
  width: 22px;
  margin-left: 10px;
}
.header-text a {
  font-size: 16px;
  margin-right: 10px;
}
.header-text h3 {
  font-size: 23px;
  color: #151b32;
}
.search-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-area img {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 10px;
}
.search-area input {
  background-color: #fbfcff;
  border: 1px solid #bfc8e5;
  padding: 11.5px 11.5px 11.5px 35px;
  border-radius: 5px;
}
.user-link {
  font-size: 11.5px;
  color: #151b32;
  padding: 12px;
}
.user-link:hover {
  background-color: #849fff;
  color: #fff;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.usersList-area {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}
.user-area {
  display: flex;
  background: linear-gradient(#fbfcff, rgb(241, 241, 241));
  width: 265px;
  height: 166px;
  padding: 18px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.user-area:hover {
  scale: 1.01;
  transition: 0.2s ease-in-out;
  border: 1px solid #151b32;
}
.user-img {
  display: contents;
}
.user-img img {
  width: 78px;
  height: 78px;
  margin-right: 12px;
  border-radius: 50%;
}
.user-detail {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.user-name {
  margin-bottom: 10px;
}
.user-name h6 {
  color: #151b32;
  font-size: 15px;
  font-weight: bolder;
}
.user-name p {
  color: #151b32;
  font-size: 12px;
  font-weight: bold;
}
.user-fav {
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.user-fav span {
  color: #516fd4;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  padding: 3px 5px;
  border: 1px solid #516fd4;
  font-size: 10px;
}

/* media query */

@media screen and (width < 740px) {
  .usersList-area {
    grid-template-columns: 1fr;
  }
  .search-link {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
  .link-area a {
    padding: 6px;
  }
}

@media screen and (740px<=width<1024px) {
  .usersList-area {
    grid-template-columns: 1fr 1fr;
  }
  .search-link {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (1024px<=width) {
  .usersList-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .usersList-container {
    width: 950px;
  }
} ;
